/* .react-flow__handle {
  height: 10px;
  border-radius: 0;
} */

.icon-hover {
  visibility: hidden;
  transition: all ease 0.5s;
}

.react-flow__node-special:hover .icon-hover {
  visibility: visible;
}

.icon-hover span {
  font-size: 15px;
}
.icon-hover span:not(:last-child) {
  margin-right: 8px;
}
.react-flow__edge-path{
    stroke-width:2.5px;
}
.icon-action span i:hover{
 color: dodgerblue;
}
