.react-pdf__Page__canvas {
    margin: 0 auto;
    width: 65rem !important;
    height: 100% !important;
}
.page-btn{
    color: #3F88C5;
    text-decoration: none;
    padding: 8px 16px;
    background-color: #f1f1f1;
    border-radius: 50%;
    border: 1px solid #3F88C5;
}
.pdfWrapper{
    display: flex;
    align-items: center; 
    justify-content: center;
    overflow-x: auto;
  }
  
  .page-footer{
    display: flex;
    justify-content: space-between;
  }