/* .PrivateTabIndicator-colorSecondary-49 {
    background-color: #111;
} */
.PrivateTabIndicator-root-47 {
    
    height: 0.5rem;
}

*:focus {
    outline: none !important;
}

#tabs-panel .MuiTabs-indicator{
    background-color: #4285f4;
}